@use 'custom' as *;
@use 'components/mixins.scss' as *;

body {
  font-size: 16px;
  //   font-family: "Courier New", Courier, monospace;
}

h1.title {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, $primary, $secondary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media-breakpoint-up(lg) {
    font-size: 2.8rem;
  }
}

hr {
  @include gradient;
  opacity: 0.95;
}

.icons {
  fill: $primary;
}

section {
  padding-top: 7vh;
}

.text-gradient {
  @include text-gradient;
}

ul.square-bullet-list {
  list-style: square;
}
