@use '../custom' as *;
@use '../components/mixins.scss' as *;

.home {
  padding: 4.5rem 0 2rem 0;
  background: url("../../assets/images/svg/home-wave.svg") no-repeat 100% 100%;
  width: 100%;
  text-align: center;
  align-items: center;

  &__intro {
    text-align: center;
    align-items: center;
    padding-bottom: 5rem;

    @include media-breakpoint-up(sm) {
      padding-bottom: 10rem;
    }

    &__description {
      @include gradient;
      font-size: 1.5rem;
      border-radius: 1rem;
      padding: 2rem;
      color: $white;
      text-align: center;
      align-items: center;
      text-align: justify;

      @include media-breakpoint-up(sm) {
        margin-left: 3rem;
        font-size: 2.5rem;
      }

      p {
        font-size: 1.3rem;
        @include media-breakpoint-up(sm) {
          font-size: 1.2rem;
        }
      }

      a {
        color: $gray-100;
      }
    }

    &__pic {
      &__icon {
        object-fit: cover;
        overflow: hidden;
        width: 90%;
      }

      &__certificates {
        .certificate-logo {
          height: 10rem;
        }
      }
    }
  }

  &__tagline {
    h1 {
      @include text-gradient;
    }
  }
}
